

img{
    height: 200px;
}
.name{
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin: 10px 0;
}
.seemore{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    font-size: 18px;
    color: white;
    background-color: #111;
    width: 50%;
    margin: 10px 0;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(134, 61, 61); */
}

.btn:hover .btn-in{
  transform: scale(1.06);
  color: red;
}
 .box-container{
    display: flex;
    justify-content: space-evenly;
flex-direction: row;
    flex-wrap: wrap;
    padding:2rem 0;

}

 .box-container .box{
    /* height: 65vh; */
    background-color: white;
    border-radius: .5rem;
    margin:1rem;
    /* padding: 1rem; */
    overflow: hidden;
    cursor: pointer;
    border: 2px solid   #3D3A3A;
    text-align: center;
    box-shadow: #8a7f7f 3px 5px 15px 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 25vw;
}
.box-container:hover{
    transform: scale(1.05);
}


@media (max-width:1100px){
    html{
        font-size: 75%;
    }
    .btn{
        width: 80%;
    }
    }
    @media (max-width:700px){
        html{
            font-size: 55%;
        }
        .btn{
            width: 90%;
        }
       .box-container .box{
            width: 40vw;
        }
        }
        @media (max-width:500px){
           
            .btn{
                width: 95%;
            }
            .box-container .box{
                width: 60vw;
            }
            }