*{
    margin: 0;
    padding: 0;
    transition: all 1s ease-in-out;
    font-family: 'Baloo Bhai 2', cursive;
font-family: 'Sora', sans-serif;
letter-spacing: 1px;
}
.row_posters{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.placeholder{
    width: 220px;
    height: 220px;
    margin: 200px;
    opacity: .3;
   
}
*::selection{
    color:#333;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    background-color: #2a2b2e;

}
html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:rgb(61, 58, 58);
}

html::-webkit-scrollbar-thumb{
    background: #8C4E03;
    border-radius: 3rem;

}
@media (max-width:991px){
html{
    font-size: 75%;
}
}